@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
/* define primary colors
--------------------------------------*/
/* define neutral colors
--------------------------------------*/
/* define typography
--------------------------------------*/
/* Reset
--------------------------------------*/
html,
body,
main,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root
--------------------------------------*/
:root {
  font-size: 15px;
}

/* Breakpoint
--------------------------------------*/
/* Common Elements
--------------------------------------*/
a {
  color: #aa5cdb;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  background-color: #090b1a;
}

main {
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  main {
    height: 100vh;
    align-items: center;
  }
}

.attribution {
  color: white;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

/* Card
--------------------------------------*/
.card {
  width: 300px;
  background-color: #1b1938;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
  padding-bottom: 20px;
  border-radius: 5px;
  margin: 50px 0;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    gap: 5%;
    width: auto;
    padding-bottom: 0px;
    height: fit-content;
  }
}
.card h1 {
  font-size: 1.8rem;
  padding: 5px 0;
  color: white;
}
@media (min-width: 768px) {
  .card h1 {
    font-size: 2rem;
  }
}
.card h1 > span {
  color: #aa5cdb;
}
.card p {
  padding: 0px 0;
}

/* Card Head Image
--------------------------------------*/
@media (min-width: 768px) {
  .head-img {
    font-size: 2rem;
    flex: 1 1 100%;
  }
}
.head-img .wrap {
  background: #aa5cdb;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}
@media (min-width: 768px) {
  .head-img .wrap {
    border-radius: 0 5px 5px 0;
  }
}
.head-img .wrap .img-desktop {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.75;
  object-fit: cover;
  display: none;
}
@media (min-width: 768px) {
  .head-img .wrap .img-desktop {
    display: block;
  }
}
.head-img .wrap .img-mobile {
  width: 100%;
  mix-blend-mode: multiply;
  opacity: 0.75;
  display: block;
}
@media (min-width: 768px) {
  .head-img .wrap .img-mobile {
    display: none;
  }
}

/* Card Body
--------------------------------------*/
.card__body {
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 768px) {
  .card__body {
    padding: 30px 60px;
  }
}
@media (max-width: 900px) {
  .card__body {
    padding: 0 20px;
  }
}

.card__desc {
  text-align: center;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .card__desc {
    text-align: left;
    padding: 0;
  }
}
.card__desc p {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6rem;
}

/* Card Statistic
--------------------------------------*/
.card__stat {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card__stat ul {
  padding: 0;
}
@media (min-width: 768px) {
  .card__stat ul {
    display: flex;
    justify-content: space-between;
  }
}
.card__stat ul li:first-child {
  text-transform: lowercase;
}
.card__stat ul li:first-child span {
  text-transform: uppercase;
}
.card__stat ul li {
  list-style: none;
  padding: 20px 0;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
.card__stat ul li span {
  display: block;
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.comp.css.map */
