@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
/* define primary colors
--------------------------------------*/
/* define neutral colors
--------------------------------------*/
/* define typography
--------------------------------------*/
/* Reset
--------------------------------------*/
html,
body,
main,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

/* Common Elements
--------------------------------------*/
a {
  color: #aa5cdb;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  background-color: #090b1a;
}

main {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0;
  overflow: auto;
}

.attribution {
  color: white;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    height: 100vh;
    align-items: center;
    padding: 0 10px;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    gap: 5%;
  }
}
@media (max-width: calc(768px - 1px)) {
  main {
    padding: 0 10px;
  }
}
/* Card
--------------------------------------*/
.card {
  width: 300px;
  background-color: #1b1938;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
  padding-bottom: 20px;
  border-radius: 5px;
  margin: 50px 0;
}
.card h1 {
  font-size: 1.8rem;
  padding: 5px 0;
  color: white;
}
.card h1 > span {
  color: #aa5cdb;
}
.card p {
  padding: 0px 0;
}

/* Card Head Image
--------------------------------------*/
.head-img .wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
.head-img .wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(170, 92, 219, 0.8);
  mix-blend-mode: multiply;
  border-radius: 0 5px 5px 0;
  z-index: 999;
}

/* Card Description
--------------------------------------*/
.card__desc {
  text-align: center;
  padding: 0 15px;
}
.card__desc p {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6rem;
}

/* Card Statistic
--------------------------------------*/
.card__stat {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card__stat ul {
  padding: 0;
}
.card__stat ul li:first-child {
  text-transform: lowercase;
}
.card__stat ul li:first-child span {
  text-transform: uppercase;
}
.card__stat ul li {
  list-style: none;
  padding: 20px 0;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
.card__stat ul li span {
  display: block;
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  /* Card (Desktop)
  --------------------------------------*/
  .card {
    width: auto;
    padding-bottom: 0px;
    height: fit-content;
  }
  .card h1 {
    font-size: 2rem;
  }

  /* Head Image (Desktop)
  --------------------------------------*/
  .head-img {
    flex: 1 1 100%;
  }

  .img-desktop {
    display: block;
    border-radius: 0 5px 5px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-mobile {
    display: none;
  }

  /* Card Body (Desktop)
  --------------------------------------*/
  .card__body {
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 60px;
  }
  .card__body .card__desc {
    text-align: left;
    padding: 0;
  }
  .card__body .card__stat ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: calc(768px - 1px)) {
  /* Head Image (Mobile)
  --------------------------------------*/
  .img-mobile {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .img-desktop {
    display: none;
  }
}
@media (max-width: 900px) {
  /* Card Body (Desktop - small)
  --------------------------------------*/
  .card__body {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.comp.css.map */
