/* Card
--------------------------------------*/
.card {
  width: 300px;
  background-color: $dark_desaturated_blue;
  color: $slightly_trans_white__main_p;
  font-family: $font_family__inter;
  padding-bottom: 20px;
  border-radius: 5px;
  margin: 50px 0;
  @media (min-width: $breakpoint) {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    gap: 5%;
    width: auto;
    padding-bottom: 0px;
    height: fit-content;
  }
  h1 {
    font-size: 1.8rem;
    padding: 5px 0;
    color: $white;
    @media (min-width: $breakpoint) {
      font-size: 2rem;
    }
  }
  h1 > span {
    color: $soft_violet;
  }
  p {
    padding: 0px 0;
  }
}

/* Card Head Image
--------------------------------------*/
.head-img {
  @media (min-width: $breakpoint) {
    font-size: 2rem;
    flex: 1 1 100%;
  }
  .wrap {
    background: $soft_violet;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    @media (min-width: $breakpoint) {
      border-radius: 0 5px 5px 0;
    }
    .img-desktop {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      opacity: 0.75;
      object-fit: cover;
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
      }
    }
    .img-mobile {
      width: 100%;
      mix-blend-mode: multiply;
      opacity: 0.75;
      display: block;
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }
}

/* Card Body
--------------------------------------*/
.card__body {
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media (min-width: $breakpoint) {
    padding: 30px 60px;
  }
  @media (max-width: 900px) {
    padding: 0 20px;
  }
}
.card__desc {
  text-align: center;
  padding: 0 15px;
  @media (min-width: $breakpoint) {
    text-align: left;
    padding: 0;
  }
  p {
    font-family: $font_family__lexend_deca;
    line-height: 1.6rem;
  }
}

/* Card Statistic
--------------------------------------*/
.card__stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  ul {
    padding: 0;
    @media (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
    }

    li:first-child {
      text-transform: lowercase;
      span {
        text-transform: uppercase;
      }
    }
    li {
      list-style: none;
      padding: 20px 0;
      text-transform: uppercase;
      color: $white;
      font-size: 1.8rem;
      font-weight: 700;
      span {
        display: block;
        padding-top: 8px;
        color: $slightly_trans_white__stat_h;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
