/* Card
--------------------------------------*/
.card {
  width: 300px;
  background-color: $dark_desaturated_blue;
  color: $slightly_trans_white__main_p;
  font-family: $font_family__inter;
  padding-bottom: 20px;
  border-radius: 5px;
  margin: 50px 0;
  h1 {
    font-size: 1.8rem;
    padding: 5px 0;
    color: $white;
  }
  h1 > span {
    color: $soft_violet;
  }
  p {
    padding: 0px 0;
  }
}

/* Card Head Image
--------------------------------------*/
.head-img {
  .wrap {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $soft_violet_overlay;
    mix-blend-mode: multiply;
    border-radius: 0 5px 5px 0;
    z-index: 999;
  }
}

/* Card Description
--------------------------------------*/
.card__desc {
  text-align: center;
  padding: 0 15px;
  p {
    font-family: $font_family__lexend_deca;
    line-height: 1.6rem;
  }
}

/* Card Statistic
--------------------------------------*/
.card__stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  ul {
    padding: 0;
    li:first-child {
      text-transform: lowercase;
      span {
        text-transform: uppercase;
      }
    }
    li {
      list-style: none;
      padding: 20px 0;
      text-transform: uppercase;
      color: $white;
      font-size: 1.8rem;
      font-weight: 700;
      span {
        display: block;
        padding-top: 8px;
        color: $slightly_trans_white__stat_h;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

$breakpoint: 768px;
@media (min-width: $breakpoint) {
  /* Card (Desktop)
  --------------------------------------*/
  .card {
    width: auto;
    padding-bottom: 0px;
    height: fit-content;
    h1 {
      font-size: 2rem;
    }
  }
  /* Head Image (Desktop)
  --------------------------------------*/
  .head-img {
    flex: 1 1 100%;
  }
  .img-desktop {
    display: block;
    border-radius: 0 5px 5px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-mobile {
    display: none;
  }
  /* Card Body (Desktop)
  --------------------------------------*/
  .card__body {
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 60px;
    .card__desc {
      text-align: left;
      padding: 0;
    }
    .card__stat {
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media (max-width: calc(#{$breakpoint} - 1px)) {
  /* Head Image (Mobile)
  --------------------------------------*/
  .img-mobile {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  .img-desktop {
    display: none;
  }
}
@media (max-width: 900px) {
  /* Card Body (Desktop - small)
  --------------------------------------*/
  .card__body {
    padding: 0 20px;
  }
}
