body {
  background-color: $very_dark_blue;
}
main {
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: auto;
  padding: 0 10px;
  @media (min-width: $breakpoint) {
    height: 100vh;
    align-items: center;
  }
}
.attribution {
  color: $white;
  font-size: 11px;
  width: 100%;
  text-align: center;
}
