body {
  background-color: $very_dark_blue;
}
main {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0;
  overflow: auto;
}
.attribution {
  color: $white;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

$breakpoint: 1440px;
@media (min-width: $breakpoint) {
  main {
    height: 100vh;
    align-items: center;
  }
  .card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
  }
}
@media (max-width: calc(#{$breakpoint} - 1px)) {
  main {
    padding: 0 10px;
  }
}
